In [11]:
import pandas as pd

movies_df = pd.read_csv(r'Z:\Data sciense\DS\Поебашим бро\Python 12\data\ratings_movies.csv')
movies = movies_df.copy()
movies

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [4]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [12]:
movies['year_release'] = movies['title'].apply(get_year_release)
movies['year_release']

0         1995.0
1         1995.0
2         1995.0
3         1995.0
4         1995.0
           ...
100831    2017.0
100832    2017.0
100833    2017.0
100834    2017.0
100835    2017.0
Name: year_release, Length: 100836, dtype: float64

In [40]:
movies[movies['year_release']== 1999].groupby('title')['rating'].mean().sort_values().index[0]

'Bloodsport: The Dark Kumite (1999)'

In [41]:
movies[movies['year_release']== 2010].groupby('genres')['rating'].mean().sort_values().index[0]

'Action|Sci-Fi'

Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [101]:
movies.groupby('userId')['genres'].nunique().sort_values()

AttributeError: 'SeriesGroupBy' object has no attribute 'set'

Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
В качестве ответа укажите идентификатор этого пользователя.

In [62]:
movies.groupby('userId')['rating'].agg(['count','mean']).sort_values(by =['count','mean'], ascending= [True,False] )

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [75]:
high_rating = movies[movies['year_release']== 2018].groupby('genres')['rating'].agg(['mean','count'])
high_rating[high_rating['count']>10]

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [77]:
movies['date'] = pd.to_datetime(movies['date'])
movies['date']

0        2000-07-30 18:45:03
1        2000-07-30 18:20:47
2        2000-07-30 18:37:04
3        2000-07-30 19:03:35
4        2000-07-30 18:48:51
                 ...
100831   2017-05-03 21:53:22
100832   2017-05-03 22:21:31
100833   2017-05-08 19:50:47
100834   2017-05-03 21:19:12
100835   2017-05-03 21:20:15
Name: date, Length: 100836, dtype: datetime64[ns]

In [78]:
movies['year_rating'] = movies['date'].dt.year
movies['year_rating']

0         2000
1         2000
2         2000
3         2000
4         2000
          ...
100831    2017
100832    2017
100833    2017
100834    2017
100835    2017
Name: year_rating, Length: 100836, dtype: int64

In [97]:
from cmath import nan


rating_by_year = movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    fill_value=nan
)
rating_by_year.loc[2018].sort_values(ascending= False).head(40)

genres
Animation|Comedy|Drama                             5.00
Crime|Mystery                                      5.00
Comedy|Crime|Fantasy                               5.00
Crime|Fantasy|Horror                               5.00
Comedy|Crime|Horror|Thriller                       5.00
Animation|Crime|Drama                              5.00
Drama|Romance|War                                  5.00
Action|Comedy|Documentary                          5.00
Animation|Comedy|Fantasy|Musical                   5.00
Animation|Comedy|Drama|Fantasy|Sci-Fi              5.00
Comedy|Drama|Fantasy|Mystery|Romance               5.00
Animation|Children|Mystery                         5.00
Drama|Horror|Mystery|Sci-Fi|Thriller               5.00
Adventure|Children|Comedy|Fantasy|Mystery          5.00
Comedy|Fantasy|Horror|Musical|Thriller             5.00
Romance|Sci-Fi                                     5.00
Mystery|Romance|Sci-Fi|Thriller                    5.00
Adventure|Fantasy|Musical                          5.00
Action|Crime|Thriller|Western                      5.00
Action|Crime|Sci-Fi|Thriller                       5.00
Comedy|Horror|Mystery                              5.00
Drama|Fantasy|Romance|Sci-Fi                       4.75
Comedy|Drama|Mystery                               4.75
Comedy|Drama|Horror                                4.75
Action|Adventure|War                               4.50
Adventure|Animation|Fantasy|Romance                4.50
Comedy|Romance|Thriller                            4.50
Adventure|Animation|Romance                        4.50
Action|Adventure|Mystery|Romance|Thriller          4.50
Action|Adventure|Comedy|Drama|Fantasy|Thriller     4.50
Action|Adventure|Comedy|Fantasy|Sci-Fi|Thriller    4.50
Adventure|Animation|Children|Romance|Sci-Fi        4.50
Adventure|Animation|Children|Drama|Musical         4.50
Comedy|Documentary|Romance                         4.50
Children|Comedy|Sci-Fi                             4.50
Crime|Drama|Film-Noir|Thriller                     4.50
Adventure|Comedy|Horror|Romance                    4.50
Adventure|Film-Noir|Sci-Fi|Thriller                4.50
Adventure|Thriller                                 4.50
Drama|Mystery|Sci-Fi                               4.50
Name: 2018, dtype: float64