In [2]:
import pandas as pd
data = pd.DataFrame([[1,1,1], [4,4,4], [7,7,7], [10,10,10]],
     index=['Python', 'Java', 'C','Kotlin'],
     columns=['RATE','EE','AA'])
print(data)

        RATE  EE  AA
Python     1   1   1
Java       4   4   4
C          7   7   7
Kotlin    10  10  10

In [3]:
print(data.loc[::2,'RATE'])

Python    1
C         7
Name: RATE, dtype: int64

In [16]:
a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 3, 2]})
b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})
#a.merge(b, how='right', on='C')

a.join(b.set_index('C'), how='right', on='C')

   A    B  C  V       U
0  a  103  1  d  1393.7
1  b  214  3  b  9382.2
2  c  124  2  c  1904.5