In [1]:
import pandas as pd
ride_bike_data = pd.read_csv('data\citibike-tripdata.csv', sep=',')
ride_bike_data.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [2]:
RideBikeData = ride_bike_data.copy()
RideBikeData.tail()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [3]:
RideBikeData['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [4]:
RideBikeData['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [5]:
print((RideBikeData['start station name'].nunique()) == (RideBikeData['end station name'].nunique()))

False

In [6]:
RideBikeData['user age'] = pd.to_datetime(RideBikeData['starttime']).dt.year - RideBikeData['birth year']
display(RideBikeData['user age'].min())

16

In [7]:
print(RideBikeData['end station name'].value_counts())

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [8]:
RideBikeData.drop(['start station id','end station id'],axis=1,inplace=True)
RideBikeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
 12  user age                 300000 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 29.8+ MB

In [9]:
#RideBikeData.drop(['birth year'],axis=1,inplace=True)
RideBikeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
 12  user age                 300000 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 29.8+ MB

In [10]:
print(len(RideBikeData[RideBikeData['user age']>60]['user age']))

11837

In [11]:

RideBikeData['trip duration'] = pd.to_datetime(RideBikeData['stoptime']) - pd.to_datetime(RideBikeData['starttime'])
display(RideBikeData['trip duration'])

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]

In [12]:
RideBikeData['stoptime'] = pd.to_datetime(RideBikeData['stoptime'])
                                
RideBikeData['starttime'] = pd.to_datetime(RideBikeData['starttime'])
display(RideBikeData['starttime'])

0        2018-09-01 00:00:05.269
1        2018-09-01 00:00:11.281
2        2018-09-01 00:00:20.649
3        2018-09-01 00:00:21.746
4        2018-09-01 00:00:27.315
                   ...
299995   2018-09-05 19:08:27.846
299996   2018-09-05 19:08:28.370
299997   2018-09-05 19:08:27.509
299998   2018-09-05 19:08:29.230
299999   2018-09-05 19:08:29.711
Name: starttime, Length: 300000, dtype: datetime64[ns]

In [13]:
print(RideBikeData['trip duration'][3])

0 days 00:07:16.837000

In [14]:
trip_weekday = RideBikeData['starttime'].dt.day_of_week
RideBikeData['weekend'] = trip_weekday.apply(lambda x: 1 if x in [5,6] else 0)
display(RideBikeData['weekend'][RideBikeData['weekend'] == 1].count())

115135

In [27]:
HourOfStarts = RideBikeData['starttime'].dt.hour
print(HourOfStarts)

0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: starttime, Length: 300000, dtype: int64

In [35]:
def TimeOfDay(start_hour):
    if 0 <= start_hour <= 6:
        return 'night'
    if 6 < start_hour <= 12:
        return 'morning'
    if 12 < start_hour <= 18:
        return 'day'
    if 18 < start_hour <= 23:
        return 'evening'

HourOfStarts = RideBikeData['starttime'].dt.hour
RideBikeData['time_of_day'] = HourOfStarts.apply(TimeOfDay)

C:\Users\user1\AppData\Local\Temp\ipykernel_138116\210936630.py:13: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. ser.count(level=1) should use ser.groupby(level=1).count().
  print(RideBikeData['time_of_day'].count('day')/RideBikeData['time_of_day'].count('night'))

ValueError: Series.count level is only valid with a MultiIndex

In [43]:
a= len(RideBikeData[RideBikeData['time_of_day'] == 'day'])
b= len(RideBikeData[RideBikeData['time_of_day'] == 'night'])
print(a/b)

9.480411004308916